<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <style>
    /*Color for global dataset*/
    .bar--positive {
      fill: #C48189;
    }
    .bar--negative {
      fill: #CFECEC;
    }
    .bar:hover {
      fill: #347C17;
    }

    /*Color for North dataset*/
    .bar1--positive {
      fill: #7F4E52;
    }
    .bar1--negative {
        fill: #3B9C9C;
    }
    .bar1:hover {
      fill: #347C17;
    }

    /*Color for Equator dataset*/
    .bar2--positive {
      fill: #C5908E;
    }
    .bar2--negative {
      fill: #46C7C7;
    }
    .bar2:hover {
      fill: #347C17;
    }

    /*Color for South dataset*/
    .bar3--positive {
      fill: #E8ADAA;
    }
    .bar3--negative {
      fill: #79BAEC;
    }
    .bar3:hover {
      fill: #347C17;
    }
    
    .toolTip {
      position: absolute;
      display: none;
      min-width: 80px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      border: 1px solid #6F257F;
      padding: 14px;
      text-align: center;
    }
    h2 {
      font-size : 120%;
      color:#489450;
    }
    h3 {
      font-size : 180%;
      color:#696969;
      text-align: center;
    }
    .xaxis text {
      color:blue;
    }
    .yaxis text {
      color:blue;
    }
    #svgcontainer {
    display: inline-block;
    }
    #explcontainer {
        display: inline-block;
    }
    </style>
    
    <h3>Global warming is a reality !</h3>
    <div id="wrapper">

      <div id = "svgcontainer">
            <br/>
            <h2>Dataset</h2>
            <p id = "subTitleP" style="color:#789410;font-size:110%">Promedian temperature change (reference: promedian of the years 1950-1980) for each group of 5 years</p>
            <button id = "swButton" style="padding: 10px 10px; text-align: center;font-size: 90%;margin: 4px 2px;">Switch dataset</button>
            <button disabled id = "zoomButton" style="padding: 10px 10px; text-align: center;font-size: 90%;margin: 4px 2px;">Show dataset details</button>
      </div>

       <div id = "explcontainer">
            <h2>What, why and how ? Understanding this visualization thanks to abstraction</h2>
            <p style="color:#789410;font-size:110%">What ?</p>
            <p style="color:#111111;">
              This visualization uses open data from data.gov.com. The aim is to show some interesting insights about this data : this is the principal objective. The other ones are more academic, like use d3 and publish the web page on githubPages. The technologies used are d3 (javascript), HTML, CSS and git (nodejs for developing with a local server). There is no specific prerequisites for enjoying the visualization neither for using the code available in github.
              To be more precise about these insights, in the following paragraphs we will explain what were our data (through data abstraction), why this visualization (through task abstraction) and the reason of how we choice to present the data (idioms : visual encoding and interaction) ; thanks to that, we have been able to answer to the title question : Colombian migration : where do people go more ? And who are they ?
              <br/><br/>
              What ?
              <br/><br/>
              The dataset type is a <b>table</b>. The dataset availability is <b>static</b> because the dataset available on the website is not modified in real-time, so we just download the file from the website and create a new file of processed data (correcting absent values and modifying the columns spaces – English names and without spaces), then we load it. Then for separating the dataset in smaller ones, and also to get <b>derive data</b>, we process this file in the visualization with d3.<br/><br/>

              <b>Why ?</b><br/><br/>

              Which tasks do we want to perform here ? <br/><br/>

              As said in the title, first

              <b>How ?</b><br/><br/>

              We choose for this visualization.<br/><br/>
              </p>
      </div>

    </div>
    <p style="font-size:90%">The data used come from the nasa open data website - direct link <a href="https://data.giss.nasa.gov/gistemp/tabledata_v3/ZonAnn.Ts+dSST.csv">here</a></p>
    <p style="font-size:90%">This project is under <a href="https://opensource.org/licenses/MIT">MIT license.</a></p>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>
      // Const margin data for viz
      const width = 900;
      const height = 500;
      const margin = {top: 5, right: 70, bottom: 50, left: 50};
      const iwidth = width - margin.left -margin.right;
      const iheight = height - margin.top - margin.bottom;
      // Const bar chart
      const barwidth = 24;

      // Const range of year grouped by
      const rangeOfYear = 5;

      // SVG and g elements
      var svg = d3.select("#svgcontainer")
          .append("svg")
          .attr("width", iwidth + margin.left + margin.right)
          .attr("height", iheight + margin.top + margin.bottom);
      var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      //Tooltip var
      var tooltip = d3.select("body").append("div").attr("class", "toolTip");

      //Dataset current index
      var dataIndex=1;

      var datasetsTitles = ["Global", "24N-90N","24S-24N","90S-24S"];

      var datasetsNTitles = ["64N-90N ","44N-64N","24N-44N"];
      var datasetsEQTitles = ["EQU-24N ","24S-EQU"];
      var datasetsSTitles = ["44S-24S ","64S-44S ","90S-64S"];

      var maxIndex = datasetsTitles.length;

      // Original data var
      var dataOrigin;

      // Datasets
      var dataYearList1,dataYearList2,dataYearList3,dataYearList4;
      var dataYearListDetailN1,dataYearListDetailN2,dataYearListDetailN3;
      var dataYearListDetailEQ1,dataYearListDetailEQ2;
      var dataYearListDetailS1,dataYearListDetailS2,dataYearListDetailS3;

      //Var for axis x and y
      var xDomain, yDomain, xaxis, yaxis, x, y;

      // Load csv with promise
      d3.csv('https://raw.githubusercontent.com/pierreraimbaud/GlobalWarmingIsReal/master/ZonAnn.Ts%2BdSST.csv').then(function(data) {
          dataOrigin = data;
          //Create bar chart
          createBar();
      });

      //button to swap over datasets
      d3.select("#swButton").on("click",function(){
          updateBar();
      });//end click function

      //button to swap over datasets
      d3.select("#zoomButton").on("click",function(){
          updateBarMulti();
      });//end click function

      //Create bar chart
      function createBar(){
        //Set dataset title
        d3.select("h2").text("Temperature change from 1880 to now - Earth zone: " + datasetsTitles[dataIndex-1]);
        //Set sub title
        d3.select("#subTitleP").text("Promedian temperature change (reference: promedian of the years 1950-1980) for each group of "+ rangeOfYear+" years");
        
        //Data preparation (2 datasets)
        prepareDatasets();        

        //Create Axis
        addAxisForBarChar();

        //Create Bar chart (rect)
        addBarCharRects();
      }

      //Add the axis for bar chart
      function addAxisForBarChar(){

        // X scale definition
        x = d3.scaleBand().rangeRound([0, iwidth])
          .paddingInner(1)
          .paddingOuter(1);

        x.domain((eval("dataYearList"+dataIndex)).map(function(d){
         return d.key*rangeOfYear;}));

        // Y scale definition
        y = d3.scaleLinear().rangeRound([iheight, 0]);
        var min = d3.min(eval("dataYearList"+dataIndex), function(d){
          return +d.value.promedian});
        var max = d3.max(eval("dataYearList"+dataIndex), function(d){
          return +d.value.promedian});
        //We want a symetric domain for positing negative and positive in an easier way
        var dom = Math.max(Math.abs(min),max);
        y.domain([-dom,dom]);

        // Axis x
        xaxis = g.append('g').attr('class', 'xaxis')
            .call(d3.axisBottom(x))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "xaxis");

        // Axis y  
        yaxis = g.append('g').attr('class', 'yaxis')
            .call(d3.axisLeft(y));
      }

      //Add the rect (bar chart)
      function addBarCharRects(){
        var dat = eval("dataYearList"+dataIndex);

        // Add future rect (datasets for room)
        var rect = g.selectAll(".bar1")
          .data(dat)
          .enter().append("rect")
          .attr("class", "bar1")
          .attr("class", function(d) { return "bar1 bar1--" + (d.value.promedian < 0 ? "negative" : "positive"); });

        // Add future rect (datasets for room)
        var rect = g.selectAll(".bar2")
          .data(dat)
          .enter().append("rect")
          .attr("class", "bar2")
          .attr("class", function(d) { return "bar2 bar2--" + (d.value.promedian < 0 ? "negative" : "positive"); });

        // Add future rect (datasets for room)
        var rect = g.selectAll(".bar3")
          .data(dat)
          .enter().append("rect")
          .attr("class", "bar3")
          .attr("class", function(d) { return "bar3 bar3--" + (d.value.promedian < 0 ? "negative" : "positive"); });

        // Add lonely rects
        var rect = g.selectAll(".bar")
          .data(dat)
          .enter().append("rect")
          .attr("class", "bar")
          .attr("class", function(d) { return "bar bar--" + (d.value.promedian < 0 ? "negative" : "positive"); });

        //Add lonely rects attributes
        var attrX = rect.attr("x", function (d) {
              // The keys will be the year divided by the range of year, in order to group by X years, so then multiply
              return x(d.key*rangeOfYear); 
            });

        var attrY = rect.attr("y", function (d) {
              var fix =height -(margin.top+margin.bottom);
              // Depending if the value is negative o positive, the y attribute comes from a different calculation
              var plus = fix/2 - (fix - y(+d.value.promedian)*2)/2;
              var moins= fix/2;
              var val;
              if (+d.value.promedian>=0){
                val = plus;
              }
              else{
                val=moins;
              }
              return val;
            });

        rect.attr("width", barwidth)
            .attr("height", function (d) {
              var fix =height -(margin.top+margin.bottom);
              // Depending if the value is negative o positive, the height attribute comes from a different calculation
              var plus = (fix - y(+d.value.promedian)*2)/2;
              var moins= (fix - y(-(+d.value.promedian))*2)/2;
              var val;
              if (+d.value.promedian>=0){
                val = plus;
              }
              else{
                val=moins;
              }
              return val;
            });

        //Add rect mouse event
        rect.on("mousemove", function(d){
              tooltip
                .style("left", d3.event.pageX - 70 + "px")
                .style("top", d3.event.pageY - 90 + "px")
                .style("display", "inline-block")
                .html("In "+d.key*5 + ": " +(d.value.promedian)+ "°C");
            })
            .on("mouseout", function(d){ tooltip.style("display", "none");});  
      }

      //Prepare datasets for bar chart
      function prepareDatasets(){

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear1 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["Glob"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearList1 = dataYear1;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear2 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years            
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["24N-90N"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearList2 = dataYear2;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear3 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["24S-24N"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearList3 = dataYear3;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear4 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["90S-24S"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearList4 = dataYear4;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear5 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["64N-90N"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailN1 = dataYear5;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear6 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["44N-64N"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailN2 = dataYear6;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear7 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["24N-44N"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailN3 = dataYear7;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear8 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["EQU-24N"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailEQ1 = dataYear8;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear9 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["24S-EQU"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailEQ2 = dataYear9;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear10 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["44S-24S"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailS1 = dataYear10;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear11 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["64S-44S"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailS2 = dataYear11;

        //Nest data for getting it as (key=year range, value.promedian=promedian temperature change of the X years)
        var dataYear12 = d3.nest()
          .key(function(d){
            // The keys are the year divided by the range of year, in order to group by X years
            return Math.trunc(+(d.Year)/rangeOfYear);
          })
          .rollup(function(d){
            return {
              promedian : d3.sum(d, function(g){
                return (+g["90S-64S"])/d.length;
              }).toFixed(3)
            }
          })
          .entries(dataOrigin);
          dataYearListDetailS3 = dataYear12;
      }

      //Update the bars based on the dataset change (switch)
      function updateBar(){

        //select new data
        if (dataIndex==maxIndex){
          d3.select("#zoomButton").attr("disabled", true)
          dataIndex=1;
          
        }
        else{
          d3.select("#zoomButton").attr("disabled", null)
          dataIndex++;
        }

        //Update x and y axis

        //1 - rejoin data
        xaxis = g.selectAll(".xaxis");
        
        //2 - Remove axis
        xaxis.exit().remove();//remove unneeded axis

        var yaxis = g.selectAll(".yaxis");
          
        xaxis.exit().remove();//remove unneeded axis

        //3 - Update axis
        xaxis.enter().append("xaxis")
          .attr("class", "xaxis");

        yaxis.enter().append("yaxis")
          .attr("class", "yaxis");

        // X scale
        x = d3.scaleBand().rangeRound([0, iwidth])
         .paddingInner(1)
         .paddingOuter(1);
        xDomain = (eval("dataYearList"+dataIndex)).map(function(d){return d.key*rangeOfYear; });
        x.domain(xDomain);

        // Y scale
        y = d3.scaleLinear().rangeRound([iheight, 0]);
        var min = d3.min(eval("dataYearList"+dataIndex), function(d){
          return +d.value.promedian});
        var max = d3.max(eval("dataYearList"+dataIndex), function(d){
          return +d.value.promedian});
        var dom = Math.max(Math.abs(min),max);
        yDomain = [-dom,dom]
        y.domain(yDomain);

        // Axis x
        xaxis =g.selectAll(".xaxis").data(xDomain);
        xaxis.exit().remove();//remove unneeded rects
        xaxis.enter().append("g");

        xaxis.attr('class', 'xaxis').call(d3.axisBottom(x));
        xaxis.attr("transform", `translate(0,${iheight})`)

        // Axis y  
        yaxis =g.selectAll(".yaxis").data(yDomain);
        yaxis.exit().remove();//remove unneeded rects
        yaxis.enter().append("g");

        yaxis.attr('class', 'yaxis').call(d3.axisLeft(y));

        //Update bar part(rect)

        //1 - rejoin data
        var rectss = g.selectAll(".bar")
            .data(eval("dataYearList"+dataIndex));
        
        //2 - Remove bar (rect)
        rectss.exit().remove();//remove unneeded rects
       
        //3 - Update bar (rect)
        rectss.enter().append("rect")
          .attr("class", "bar");

        // Same calculations than in addBarCharRects
        rectss.attr("x", function (d) {            
            return x(d.key*rangeOfYear);
          })

        rectss.attr("y", function (d) {
            var fix =height -(margin.top+margin.bottom);
            var plus = fix/2 - (fix - y(+d.value.promedian)*2)/2;
            var moins= fix/2;
            var val;
            if (+d.value.promedian>=0){
              val = plus;
            }
            else{
              val=moins;
            }
            return val;
          });

        rectss.attr("width", barwidth)
          .attr("height", function (d) {
            var fix =height -(margin.top+margin.bottom);
            var plus = (fix - y(+d.value.promedian)*2)/2;
            var moins= (fix - y(-(+d.value.promedian))*2)/2;
            var val;
            if (+d.value.promedian>=0){
              val = plus;
            }
            else{
              val=moins;
            }
            return val;
          })
         
          //Update multi bars part(rect) (for preparation or for quitting them)

          //1 - rejoin data
          var bar2 = g.selectAll(".bar1");
          //2 - Remove bar (rect)
          bar2.exit().remove();//remove unneeded rects
          //3 - Update bar (rect)
          bar2.enter().append("rect")
            .attr("class", "bar1");
          bar2.attr("x", 0)
          bar2.attr("y",0);
          bar2.attr("width", 0)
            .attr("height", 0);//create any new rects needed

          //1 - rejoin data
          var bar2 = g.selectAll(".bar2");
          //2 - Remove bar (rect)
          bar2.exit().remove();//remove unneeded rects
          //3 - Update bar (rect)
          bar2.enter().append("rect")
            .attr("class", "bar2");
          bar2.attr("x", 0)
          bar2.attr("y",0);
          bar2.attr("width", 0)
            .attr("height", 0);//create any new rects needed

          //1 - rejoin data
          var bar3 = g.selectAll(".bar3");
          //2 - Remove bar (rect)
          bar3.exit().remove();//remove unneeded rects
          //3 - Update bar (rect)
          bar3.enter().append("rect")
            .attr("class", "bar3");
          bar3.attr("x", 0)
          bar3.attr("y",0);
          bar3.attr("width", 0)
            .attr("height", 0);//create any new rects needed

          //Change text  
          d3.select("h2").text("Temperature change from 1880 to now - Earth zone: " + datasetsTitles[dataIndex-1]);
      }

      //Update the bar chart in multi bar chart based on the dataset change (zoom)
      function updateBarMulti(){

        //Get the correct title of the dataset depend on the current dataset and the current index (for tooltip)
        function getDTitle(txt, index) {
          if (txt=="N") {
            return datasetsNTitles[index];
          }
          if (txt=="EQ") {
            return datasetsEQTitles[index];
          }
          if (txt=="S") {
            return datasetsSTitles[index];
          }
        }
        
        //Update bar part(rect)
        if (dataIndex!=1){
          d3.select("#zoomButton").attr("disabled", true)
          var worldBand;
          if (dataIndex==2){
            worldBand = "N";
          }
          if (dataIndex==3){
            worldBand = "EQ";
          }
          if (dataIndex==4){
            worldBand = "S";
          }

          //Update y axis (not X because common to all the "detailed" datasets)
          var yaxis = g.selectAll(".yaxis");
          yaxis.enter().append("yaxis")
            .attr("class", "yaxis");

          // Y scale
          y = d3.scaleLinear().rangeRound([iheight, 0]);
          //Find the min and max of the 2 or 3 detailed datasets
          var min = d3.min(eval("dataYearListDetail"+worldBand+"1"), function(d){
            return +d.value.promedian});
          var max = d3.max(eval("dataYearListDetail"+worldBand+"1"), function(d){
            return +d.value.promedian});
          var m2 =d3.min(eval("dataYearListDetail"+worldBand+"2"), function(d){
            return +d.value.promedian});
          if (min>m2){
            min=m2;
          }
          var mn2 =d3.max(eval("dataYearListDetail"+worldBand+"2"), function(d){
            return +d.value.promedian});
          if (max<mn2){
            max=mn2;
          }
          if (worldBand !="EQ"){
            var m3 = d3.min(eval("dataYearListDetail"+worldBand+"3"), function(d){
              return +d.value.promedian});
            
            if (min>m3){
              min=m3;
            }
            var mn3 =d3.max(eval("dataYearListDetail"+worldBand+"3"), function(d){
              return +d.value.promedian});
            if (max<mn3){
              max=mn3;
            }
          }
          var dom = Math.max(Math.abs(min),max);
          yDomain = [-dom,dom]
          y.domain(yDomain);

          // Axis y  
          yaxis =g.selectAll(".yaxis").data(yDomain);
          yaxis.exit().remove();//remove unneeded rects
          yaxis.enter().append("g");

          yaxis.attr('class', 'yaxis').call(d3.axisLeft(y));

          //Update bar part(rect) - to remove them

          //1 - rejoin data
          var rectss = g.selectAll(".bar");
          //2 - Remove bar (rect)
          rectss.exit().remove();//remove unneeded rects
          //3 - Update bar (rect)
          rectss.enter().append("rect")
            .attr("class", "bar");

          rectss.attr("x", 0)

          rectss.attr("y",0);

          rectss.attr("width", 0)
            .attr("height", 0);//create any new rects needed

          
          //Update multi bars part(rect) - (first bars)

          //1 - rejoin data
          var rectss = g.selectAll(".bar1");
          //2 - Remove bar (rect)
          rectss.exit().remove();//remove unneeded rects
          //3 - Update bar (rect)
          rectss.data(eval("dataYearListDetail"+worldBand+"1")).enter().append("rect")
            .attr("class", "bar1");

          rectss.attr("x", function (d) {            
              return x(d.key*rangeOfYear);
            })

          rectss.attr("y", function (d) {
              var fix =height -(margin.top+margin.bottom);
              var plus = fix/2 - (fix - y(+d.value.promedian)*2)/2;
              var moins= fix/2;
              var val;
              if (+d.value.promedian>=0){
                val = plus;
              }
              else{
                val=moins;
              }
              return val;
            });

          rectss.attr("width", barwidth)
            .attr("height", function (d) {
              var fix =height -(margin.top+margin.bottom);
              var plus = (fix - y(+d.value.promedian)*2)/2;
              var moins= (fix - y(-(+d.value.promedian))*2)/2;
              var val;
              if (+d.value.promedian>=0){
                val = plus;
              }
              else{
                val=moins;
              }
              return val;
            })

          //Add rect mouse event
          rectss.on("mousemove", function(d){
                tooltip
                  .style("left", d3.event.pageX - 70 + "px")
                  .style("top", d3.event.pageY - 90 + "px")
                  .style("display", "inline-block")
                  .html(getDTitle(worldBand, 0)+ " zone, in " +d.key*5 + ": " +(d.value.promedian)+ "°C");
              })
              .on("mouseout", function(d){ tooltip.style("display", "none");});


          //Update multi bars part(rect) - (second bars)

          //1 - rejoin data
          var rectss = g.selectAll(".bar2");
          //2 - Remove bar (rect)
          rectss.exit().remove();//remove unneeded rects
          //3 - Update bar (rect)
          rectss.data(eval("dataYearListDetail"+worldBand+"2")).enter().append("rect")
            .attr("class", "bar2");

          rectss.attr("x", function (d) {            
              return x(d.key*rangeOfYear)+barwidth/8;
            })

          rectss.attr("y", function (d) {
              var fix =height -(margin.top+margin.bottom);
              var plus = fix/2 - (fix - y(+d.value.promedian)*2)/2;
              var moins= fix/2;
              var val;
              if (+d.value.promedian>=0){
                val = plus;
              }
              else{
                val=moins;
              }
              return val;
            });

          rectss.attr("width", barwidth/1.3)
            .attr("height", function (d) {
              var fix =height -(margin.top+margin.bottom);
              var plus = (fix - y(+d.value.promedian)*2)/2;
              var moins= (fix - y(-(+d.value.promedian))*2)/2;
              var val;
              if (+d.value.promedian>=0){
                val = plus;
              }
              else{
                val=moins;
              }
              return val;
            })

          //Add rect mouse event
          rectss.on("mousemove", function(d){
                tooltip
                  .style("left", d3.event.pageX - 70 + "px")
                  .style("top", d3.event.pageY - 90 + "px")
                  .style("display", "inline-block")
                  .html(getDTitle(worldBand, 1)+ " zone, in " +d.key*5 + ": " +(d.value.promedian)+ "°C");
              })
              .on("mouseout", function(d){ tooltip.style("display", "none");});


          //Update multi bars part(rect) - (third bars)

          //1 - rejoin data
          var rectss = g.selectAll(".bar3");
          //2 - Remove bar (rect)
          rectss.exit().remove();//remove unneeded rects
          // We only want to put bars if dataset zoom is in for N or S
          if (worldBand !="EQ"){
            //3 - Update bar (rect)
            rectss.data(eval("dataYearListDetail"+worldBand+"3")).enter().append("rect")
              .attr("class", "bar3");

            rectss.attr("x", function (d) {            
                return x(d.key*rangeOfYear)+barwidth/4;
            })

            rectss.attr("y", function (d) {
                var fix =height -(margin.top+margin.bottom);
                var plus = fix/2 - (fix - y(+d.value.promedian)*2)/2;
                var moins= fix/2;
                var val;
                if (+d.value.promedian>=0){
                  val = plus;
                }
                else{
                  val=moins;
                }
                return val;
              });

            rectss.attr("width", barwidth/2)
              .attr("height", function (d) {
                var fix =height -(margin.top+margin.bottom);
                var plus = (fix - y(+d.value.promedian)*2)/2;
                var moins= (fix - y(-(+d.value.promedian))*2)/2;
                var val;
                if (+d.value.promedian>=0){
                  val = plus;
                }
                else{
                  val=moins;
                }
                return val;
              });

              //Add rect mouse event
              rectss.on("mousemove", function(d){
                    tooltip
                      .style("left", d3.event.pageX - 70 + "px")
                      .style("top", d3.event.pageY - 90 + "px")
                      .style("display", "inline-block")
                      .html(getDTitle(worldBand, 2)+ " zone, in "+ d.key*5 + ": " +(d.value.promedian)+ "°C");
                  })
                  .on("mouseout", function(d){ tooltip.style("display", "none");});
              }
          }
      }
    </script>

    <div class="wrapper">
      <header>
        <p><a href="">Link of this page - for sharing for example</a></p>
      </header>
      <section>
        <p class="view"><a href="https://github.com/pierreraimbaud/ColombiansAbroadViz">Project URL on GitHub <small>pierreraimbaud/ColombiansAbroadViz</small></a>   -   <a style="font-size:90%" href="https://github.com/pierreraimbaud/ColombiansAbroadViz#markdown">Markdown link</a></p>        
      </section>
      <footer>
        <p>Author and link : this project is maintained by <a href="https://github.com/pierreraimbaud">pierreraimbaud</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src=""></script>
    
  </body>
</html>